.BookmarkListItem {
    border-bottom: 1px solid #eee;
    padding: 10px 10px;
    max-height: 600px;
    line-height: 1.5em;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;

    &.collapsed{
        max-height: 20px;
    }
}

.content {
    position: relative;
}

.actions {
    margin-top:15px; 
    text-align: right;
}

.bookmarkName {
    font-size: 18px;
    font-weight: bold;
}

.bookmarkTemplate {
    margin-top: 5px;
    font-style: italic
}

.parametersPrompt {
    margin-top: 10px;
}

.paramLabel {
    margin-right: 5px;
}

.collapseBtn{
    position: absolute;
    right: 5px;
}

.bookmarkTemplate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}